footer.Dialog-footer {
  display: flex;
}

button.Dialog-button.button {
  flex: 1;
  border-radius: 0;
}

.Dialog-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Dialog-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}