footer.Dialog-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}

button.Dialog-button.button {
  height: 3rem;
  flex: 1;
  border-radius: 0;
}

.Dialog-notification {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.Dialog-root .hero .hero-body {
  padding: 2rem 1.5rem;
}

.Dialog-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Dialog-content section {
  padding: 1.5rem 1.5rem 4.5rem 1.5rem;
}

.Dialog-content section p {
  margin-bottom: 0.75rem;
}

.Dialog-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}